<!DOCTYPE html>
<html>
<head>
  <title>yanagishima</title>
  <link href="$context/css/bootstrap.min.css" rel="stylesheet">
  <link href="$context/css/ui.dynatree.css" rel="stylesheet">
  <link href="$context/css/jquery.contextMenu.css" rel="stylesheet">
  <script src="$context/js/lib/jquery.js"></script>
  <script src="$context/js/lib/jquery-ui.min.js"></script>
  <script src="$context/js/lib/json2.js"></script>
  <script src="$context/js/lib/underscore.js"></script>
  <script src="$context/js/lib/backbone.js"></script>
  <script src="$context/js/lib/bootstrap.min.js"></script>
  <script src="$context/js/lib/jquery.dynatree.min.js"></script>
  <script src="$context/js/lib/jquery.contextMenu-custom.js"></script>
  <script src="$context/js/view/index.js"></script>
  <script src="$context/js/view/yanagishima.js"></script>
  <script type="text/javascript">
    var contextURL = "${context}";
  </script>

</head>
<body>

  <table class="table">
    <tr>
      <td>
        <ul id="myMenu" class="contextMenu">
         <li><a href="">SELECT</a></li>
        </ul>
      
        <div id="tree">
        </div>
        
        <script>
          var tree = yanagishima_tree();
        </script>
      </td>
      <td>
        <form id="query-form">
          <textarea class="span12" id="query" rows="20"></textarea>
          <button type="button" id="query-submit">execute</button>
        </form>
        <div class="alert alert-error" id="error-msg"></div>
        <div class="alert alert-warn" id="warn-msg"></div>
        <table class="table table-bordered" id="query-results"></table>
      </td>
    </tr>
  </table>

</body>
</html>