$btn-primary-border: rgba(#ccc, 0.75);
$btn-secondary-bg: $white;
$btn-secondary-border: #ccc;

.btn-primary {
  @include button-variant($primary, $btn-primary-border);
}

.btn-secondary {
  @include button-variant($btn-secondary-bg, $btn-secondary-border);
}
