$white: #fff;
$black: #000;
$red: #d50000;
$green: #388e3c;
$blue: #004b8d;
$teal: #2196f3;

$primary: $blue;
$gray-100: #f8f9fa;
$gray-200: #eceeef;;

$body-bg: $gray-100;
$link-color: lighten($primary, 10%);
$link-hover-color: darken($link-color, 10%);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 756px,
  lg: 1060px,
  xl: 1316px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1024px,
  xl: 1280px
);

$grid-gutter-width: 16px;

$font-family-sans-serif: "Droid Sans", Roboto, "Helvetica Neue", Arial,
  sans-serif;
$font-family-monospace: "Monaco", "Menlo", "Ubuntu Mono", "Consolas",
  "source-code-pro", monospace;

$font-size-base: 0.8rem;
$font-size-lg: 1rem;
$font-size-sm: 0.75rem;

$h1-font-size: 1.1rem;
$h2-font-size: 1.05rem;
$h3-font-size: 1rem;
$h4-font-size: 0.95rem;
$h5-font-size: 0.9rem;
$h6-font-size: 0.85rem;

$text-muted: #999;

$mark-padding: 0;
$mark-bg: #fff59d;

$border-radius: 0.15rem;
$border-radius-lg: 0.2rem;
$border-radius-sm: 0.1rem;

$component-active-color: $black;
$component-active-bg: rgba(lighten($primary, 25%), 0.2);

$table-cell-padding: 0.4rem 0.6rem;
$table-cell-padding-sm: 0.25rem;
$table-head-bg: darken($gray-200, 5%);
$table-head-color: $white;
$table-border-color: $gray-200;
$table-bg-level: -10;
$table-border-level: -11;
$table-hover-bg: rgba($black, 0.03);
$table-accent-bg: rgba($black, 0.01);

$btn-padding-x: 0.8rem;
$btn-padding-y: 0.4rem;
$input-btn-line-height: 1.25;
$input-btn-line-height-sm: 1.25;

$dropdown-min-width: 6rem;
$dropdown-padding-y: 0;
$dropdown-item-padding-x: 0.75rem;

$nav-link-padding: 0.6rem 1rem;
$nav-tabs-border-color: #ccc;
$nav-tabs-link-hover-border-color: transparent;

$card-spacer-x: 0.8rem;
$card-spacer-y: 0.5rem;
$card-cap-bg: darken($gray-200, 5%);

$popover-max-width: 800px;

$modal-lg: 900px;
$modal-md: 600px;
$modal-header-padding-x: 1.2rem;
$modal-header-padding-y: 0.6rem;

$alert-padding-x: 1rem;
$alert-padding-y: 0.6rem;

$list-group-item-padding-x: 0.8rem;
$list-group-item-padding-y: 0.4rem;
